@model IEnumerable<Orkidea.Pioneer.Webfront.Models.vmProjectDocument>
@{
    Layout = null;
}

<table class="table table-bordered table-striped table_vam" id="dt">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.relacionado)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
                @Html.HiddenFor(modelItem => item.id)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.relacionado)
            </td>
        </tr>
    }
</table>

