@model IEnumerable<Orkidea.Pioneer.Entities.FileUpload>

@{
    ViewBag.Title = "Archivos cargados";
}

<h2>Sistema de gestión - Lista de archivos cargados</h2>
<p>
    @Html.ActionLink("Cargar nuevo", "Create", null, new { @class = "btn btn-info" }) | @Html.ActionLink("Volver al home", "Index", "Home")
</p>
<div class="container-fluid">
    <div class="span12">
        <table class="table table-bordered table-striped table_vam" id="dt">
            <thead>
                <tr>                    
                    <th>Descripción</th>
                    <th>Nombre del archivo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                            @Html.HiddenFor(modelItem => item.id)
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.fileName)</td>
                        <td><a href="@Url.Action("Details", new { id = item.id })" target="_blank">Ver mas</a></td>                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $('#dt').dataTable({
        "language": {
            "lengthMenu": "Mostrar _MENU_ registros por pagina",
            "zeroRecords": "Ningun resultado encontrado",
            "info": "Página _PAGE_ de _PAGES_",
            "infoEmpty": "Sin registros",
            "infoFiltered": "(filtered from _MAX_ total records)",
            "search": "Buscar:",
            "paginate": {
                "first": "Primera",
                "last": "Ultima",
                "next": "Siguiente",
                "previous": "Anterior"
            },
        }
    });
</script>
